.Ficha{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 30px 60px;
    margin: 40px 20px;
  }

  .Carta{
    border-radius: 5px;
    width: 350px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.158);
  }
  
  .ImagenDeLista {
    margin-top: 10px;
    width: 320px;
    height: 320px;
    border-radius: 20px;
  }

  
  .NombreDelProducto {
    font-size: 1.5rem;
  }
  

  
.Carousel{
  display: flex;
  justify-content: center;
}

.BotonDetalle{
  border-radius: 20px;
    color: rgba(185, 183, 39, 0.808) !important;
  font-size: 20px;
  font-weight: 500;
  
  background: #3189ac44;
  position: relative;
  border: 2px solid hsla(197, 100%, 50%, 0.13);
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.BotonDetalle:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  

}