.Number{
  color: rgb(255, 0, 0);
}

.Subtraction{
  color: #318aac !important;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
}
.Subtraction:hover {
  background: #318aac;
  color: #fff !important;
}



.Add{
  color: #318aac !important;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
}
.Add:hover {
  background: #318aac;
  color: #fff !important;
}

.Purchase{
  color: #318aac !important;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
}
.Purchase:hover {
  background: #318aac;
  color: #fff !important;
}


